<h1>All our flat (<%= @flats.count %>)</h1>
<div class="container text-center">
  <div class="row ">
    <% @flats.each do |flat| %>
      <div class="col-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200')"></div>
          <div class="flat-card-infos"></div>
            <div class="flat-card-title">
              <h4><%= flat.name %></h4>
            </div>
            <p><%= flat.address %></p>
            <div class="flex">
              <div class="flex">
                <i class="fas fa-users"></i>
                <span><%= flat.number_of_guests %></span>
              </div>
              <div class="flex">
                <i class="fas fa-euro-sign"></i>
                <span><%= flat.price_per_night %></span>
              </div>
            </div>
          <div class="flat-card-actions">
            <%= link_to "More info", flat_path(flat) %>
            <%= link_to "Edit", edit_flat_path(flat) %>
            <%= link_to "Remove", flats_path(flat), data: {:confirm => 'Are you sure?'}, method: :delete%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


